main {
    background-color: #fff;
    height:440px;
}
  .containerDetailFood{
    display: flex;
  }

  .descriptionDetailFood{
    width: 70%;
    margin-top: 5%;
    margin-right: 20px;
  }

  .titleDetailFood{
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
  }

  .paragraphDetailFood{
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
    font-size:18px;
  }

  .addToCartDetailView{
  color: #000;
  text-decoration: none;
  font-size: 25px;
  margin-top: 30px;
  display: block; 
  text-align: center;
  font-weight: bold;
  }

  .addToCartDetailView:hover{
    color:red;
  }
.imageFOOD{
    width:350px;
    height:300px;
    object-fit: cover;
}